Repository MixedRealityToolkit/MixedRealityToolkit-Unity, pull requests merged in 2023-10, with the labels that each got.

#516 Fixing build error impacting non-MRPlugin Platforms: Removing unneeded namespace
  org.mixedrealitytoolkit.input/Tracking/UnboundedTrackingMode.cs
Labels: Package: Input

#515 Add Precompile Statements to Prevent Warnings in Unity 2023 (Refactored)
  UnityProjects/MRTKDevTemplate/Assets/Scripts/SampleSceneHandMenu.cs
  org.mixedrealitytoolkit.core/Tests/Runtime/InteractableEventRouterTests.cs
  org.mixedrealitytoolkit.core/Utilities/ComponentCache.cs
  org.mixedrealitytoolkit.core/Utilities/ControllerLookup.cs
  org.mixedrealitytoolkit.core/Utilities/FindObjectUtility.cs
  org.mixedrealitytoolkit.core/Utilities/FindObjectUtility.cs.meta
  org.mixedrealitytoolkit.core/package.json
  org.mixedrealitytoolkit.input/Editor/InputValidation.cs
  org.mixedrealitytoolkit.input/InteractionModes/InteractionModeManager.cs
  org.mixedrealitytoolkit.input/Tests/Runtime/BasicInputTests.cs
  org.mixedrealitytoolkit.input/Tests/Runtime/FuzzyGazeInteractorTests.cs
  org.mixedrealitytoolkit.input/Tests/Runtime/InteractionModeManagerTests.cs
  org.mixedrealitytoolkit.input/Tests/Runtime/Utilities/BaseRuntimeInputTests.cs
  org.mixedrealitytoolkit.input/Tests/Runtime/Utilities/InputTestUtilities.cs
  org.mixedrealitytoolkit.input/package.json
  org.mixedrealitytoolkit.spatialmanipulation/Tests/Runtime/BoundsControlTests.cs
  org.mixedrealitytoolkit.spatialmanipulation/Tests/Runtime/SolverHandlerTests.cs
  org.mixedrealitytoolkit.spatialmanipulation/Tests/Runtime/SolverTapToPlaceTests.cs
  org.mixedrealitytoolkit.spatialmanipulation/package.json
  org.mixedrealitytoolkit.uxcomponents.noncanvas/Tests/Runtime/DialogTests.cs
  org.mixedrealitytoolkit.uxcomponents.noncanvas/package.json
  org.mixedrealitytoolkit.uxcomponents/Tests/Runtime/CanvasDialogTests.cs
  org.mixedrealitytoolkit.uxcomponents/package.json
  org.mixedrealitytoolkit.uxcore/Tests/Runtime/SeeItSayItLabelEnablerTests.cs
  org.mixedrealitytoolkit.uxcore/package.json
Labels: Package: Core, Package: Input, Package: Spatial Manipulation, Package: UX Components, Package: UX Components (Non-Canvas), Package: UX Core

#504 Unity XR Hands provider
  DEPENDS.md
  UnityProjects/MRTKDevTemplate/Assets/XR/Settings/OpenXR Package Settings.asset
  UnityProjects/MRTKDevTemplate/Packages/packages-lock.json
  org.mixedrealitytoolkit.input/MRTK.Input.asmdef
  org.mixedrealitytoolkit.input/Subsystems/Hands/OpenXRHandsSubsystem.cs
  org.mixedrealitytoolkit.input/Subsystems/Hands/UnityHandsSubsystem.cs
  org.mixedrealitytoolkit.input/Subsystems/Hands/UnityHandsSubsystem.cs.meta
  org.mixedrealitytoolkit.input/Subsystems/Hands/XRSDKHandsSubsystem.cs
  org.mixedrealitytoolkit.input/Subsystems/SyntheticHands/SyntheticHandsSubsystem.cs
  org.mixedrealitytoolkit.input/package.json
Labels: Type: Feature Request, Package: Input

#527 Fixing MRTK UI menu commands not working when there is no main camera
  org.mixedrealitytoolkit.uxcomponents/Editor/CreateElementMenus.cs
Labels: Type: Bug, Package: UX Components
