Repository MixedRealityToolkit/MixedRealityToolkit-Unity, pull requests merged in 2023-12, with the labels that each got.

#541 Allow resetting VirtualizedDynamicScrollRectList (#540)
  org.mixedrealitytoolkit.uxcore/Experimental/List/VirtualizedScrollRectList.cs
  org.mixedrealitytoolkit.uxcore/Tests/Runtime/Prefabs.meta
  org.mixedrealitytoolkit.uxcore/Tests/Runtime/Prefabs/ScrollTestItem.prefab
  org.mixedrealitytoolkit.uxcore/Tests/Runtime/Prefabs/ScrollTestItem.prefab.meta
  org.mixedrealitytoolkit.uxcore/Tests/Runtime/Prefabs/VirtualizedScrollRectListTest.prefab
  org.mixedrealitytoolkit.uxcore/Tests/Runtime/Prefabs/VirtualizedScrollRectListTest.prefab.meta
  org.mixedrealitytoolkit.uxcore/Tests/Runtime/VirtualizedScrollRectListTests.cs
  org.mixedrealitytoolkit.uxcore/Tests/Runtime/VirtualizedScrollRectListTests.cs.meta
Labels: Type: Feature Request, Package: UX Core

#575 Update MRTKDevTemplate packages-lock.json for 3.1.0
  UnityProjects/MRTKDevTemplate/Packages/packages-lock.json
Labels: Type: Example

#558 Fix Bugs with Bounding Box Initialized at Runtime
  org.mixedrealitytoolkit.spatialmanipulation/BoundsControl/BoundsHandleInteractable.cs
  org.mixedrealitytoolkit.spatialmanipulation/BoundsControl/Visuals/SqueezableBoxVisuals.cs
Labels: Type: Bug, Package: Spatial Manipulation
