Repository MixedRealityToolkit/MixedRealityToolkit-Unity, pull requests merged in 2023-11, with the labels that each got.

#549 Fix Canvas Slider Handle Positioning and Impose MinMax Limits to Slider Value
  org.mixedrealitytoolkit.uxcomponents/Slider/CanvasSlider.prefab
  org.mixedrealitytoolkit.uxcore/Slider/Slider.cs
  org.mixedrealitytoolkit.uxcore/Slider/Visuals/CanvasSliderVisuals.cs
Labels: Package: UX Components, Package: UX Core

#545 Fix minor issue of cubes changing color in some scenes when grabbed
  UnityProjects/MRTKDevTemplate/Assets/Scenes/DisableInteractorsExample.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/HandInteractionExamples.unity
  org.mixedrealitytoolkit.extendedassets/Materials/ObjectManipulationGrabbedLime.mat
  org.mixedrealitytoolkit.extendedassets/Materials/ObjectManipulationGrabbedLime.mat.meta
  org.mixedrealitytoolkit.extendedassets/Materials/ObjectManipulationGrabbedPurple.mat
  org.mixedrealitytoolkit.extendedassets/Materials/ObjectManipulationGrabbedPurple.mat.meta
  org.mixedrealitytoolkit.extendedassets/package.json
Labels: Package: Extended Assets

#526 Adding Rigidbody MovementType to ObjectManipulator
  org.mixedrealitytoolkit.spatialmanipulation/Editor/ObjectManipulator/ObjectManipulatorEditor.cs
  org.mixedrealitytoolkit.spatialmanipulation/ObjectManipulator/ObjectManipulator.cs
  org.mixedrealitytoolkit.spatialmanipulation/package.json
Labels: Type: Feature Request, Package: Spatial Manipulation
