Repository MixedRealityToolkit/MixedRealityToolkit-Unity, pull requests merged in 2024-02, with the labels that each got.

#625 Add alternative LOSAngularOffsetHandRayPoseSource
  UnityProjects/MRTKDevTemplate/Packages/packages-lock.json
  org.mixedrealitytoolkit.core/Utilities/StabilizedRay.cs
  org.mixedrealitytoolkit.core/package.json
  org.mixedrealitytoolkit.input/Utilities/PoseSource/LOSAngularOffsetHandRayPoseSource.cs
  org.mixedrealitytoolkit.input/Utilities/PoseSource/LOSAngularOffsetHandRayPoseSource.cs.meta
  org.mixedrealitytoolkit.input/Utilities/PoseSource/PolyfillHandRayPoseSource.cs
  org.mixedrealitytoolkit.input/package.json
Labels: Package: Core, Package: Input

#626 Auto disable button's colliders when `StatefulInteractable` is disabled
  UnityProjects/MRTKDevTemplate/Packages/packages-lock.json
  org.mixedrealitytoolkit.uxcomponents/Button/Prefabs/Empty Button.prefab
  org.mixedrealitytoolkit.uxcomponents/Tests/Runtime/ScrollableTests.cs
  org.mixedrealitytoolkit.uxcomponents/package.json
  org.mixedrealitytoolkit.uxcore/Button/RectTransformColliderFitter.cs
  org.mixedrealitytoolkit.uxcore/Button/StatefulInteractableColliderToggle.cs
  org.mixedrealitytoolkit.uxcore/Button/StatefulInteractableColliderToggle.cs.meta
  org.mixedrealitytoolkit.uxcore/package.json
Labels: Type: Feature Request, Package: UX Components, Package: UX Core

#638 Updating Documentation Binaries for Correct Minor Versions
  Pipelines/Scripts/pack-upm.ps1
  Pipelines/Scripts/repackage-for-release.ps1
  Pipelines/Scripts/update-versions.ps1
  Pipelines/Templates/docs.yaml
  Pipelines/Templates/upm.yaml
  Pipelines/ci.yaml
  Pipelines/rc.yaml
Labels: Type: Documentation

#635 Adding SimpleButton + demo scene
  UnityProjects/MRTKDevTemplate/Assets/Prefabs/Experimental.meta
  UnityProjects/MRTKDevTemplate/Assets/Prefabs/Experimental/CanvasExampleSimpleActionButton.meta
  UnityProjects/MRTKDevTemplate/Assets/Prefabs/Experimental/CanvasExampleSimpleActionButton/MenuExampleSimpleActionButton.prefab
  UnityProjects/MRTKDevTemplate/Assets/Prefabs/Experimental/CanvasExampleSimpleActionButton/MenuExampleSimpleActionButton.prefab.meta
  UnityProjects/MRTKDevTemplate/Assets/Prefabs/Experimental/CanvasExampleSimpleActionButton/TopNavigationExampleSimpleActionButton.prefab
  UnityProjects/MRTKDevTemplate/Assets/Prefabs/Experimental/CanvasExampleSimpleActionButton/TopNavigationExampleSimpleActionButton.prefab.meta
  UnityProjects/MRTKDevTemplate/Assets/Prefabs/Experimental/CanvasExampleSimpleActionButton/UIPanelExampleSimpleActionButton.prefab
  UnityProjects/MRTKDevTemplate/Assets/Prefabs/Experimental/CanvasExampleSimpleActionButton/UIPanelExampleSimpleActionButton.prefab.meta
  UnityProjects/MRTKDevTemplate/Assets/Scenes/Experimental/CanvasExampleSimpleActionButton.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/Experimental/CanvasExampleSimpleActionButton.unity.meta
  UnityProjects/MRTKDevTemplate/Packages/packages-lock.json
  org.mixedrealitytoolkit.extendedassets/package.json
  org.mixedrealitytoolkit.standardassets/CHANGELOG.md
  org.mixedrealitytoolkit.standardassets/Materials/CompressedButtonMaterial/Experimental.meta
  org.mixedrealitytoolkit.standardassets/Materials/CompressedButtonMaterial/Experimental/SimpleButtonCanvasGlow.mat
  org.mixedrealitytoolkit.standardassets/Materials/CompressedButtonMaterial/Experimental/SimpleButtonCanvasGlow.mat.meta
  org.mixedrealitytoolkit.standardassets/Materials/CompressedButtonMaterial/Experimental/SimpleButtonOutline.mat
  org.mixedrealitytoolkit.standardassets/Materials/CompressedButtonMaterial/Experimental/SimpleButtonOutline.mat.meta
  org.mixedrealitytoolkit.standardassets/package.json
  org.mixedrealitytoolkit.uxcomponents.noncanvas/package.json
  org.mixedrealitytoolkit.uxcomponents/Button/Prefabs/Experimental.meta
  org.mixedrealitytoolkit.uxcomponents/Button/Prefabs/Experimental/SimpleActionButton.prefab
  org.mixedrealitytoolkit.uxcomponents/Button/Prefabs/Experimental/SimpleActionButton.prefab.meta
  org.mixedrealitytoolkit.uxcomponents/Button/Prefabs/Experimental/SimpleEmptyButton.prefab
  org.mixedrealitytoolkit.uxcomponents/Button/Prefabs/Experimental/SimpleEmptyButton.prefab.meta
  org.mixedrealitytoolkit.uxcomponents/Editor/CreateElementMenus.cs
  org.mixedrealitytoolkit.uxcomponents/package.json
Labels: Type: Feature Request, Package: Standard Assets, Package: UX Components

#611 Adding IsProximityHovered property of type TimedFlag to detect when a button starts being hovered or on interactor proximity and when it stops being hovered or on proximity of any interactor.
  org.mixedrealitytoolkit.core/AssemblyInfo.cs
  org.mixedrealitytoolkit.input/InteractionModes/BaseProximityEventArgs.cs
  org.mixedrealitytoolkit.input/InteractionModes/BaseProximityEventArgs.cs.meta
  org.mixedrealitytoolkit.input/InteractionModes/IXRProximityInteractable.cs
  org.mixedrealitytoolkit.input/InteractionModes/IXRProximityInteractable.cs.meta
  org.mixedrealitytoolkit.input/InteractionModes/NearInteractionModeDetector.cs
  org.mixedrealitytoolkit.input/InteractionModes/ProximityEnteredEventArgs.cs
  org.mixedrealitytoolkit.input/InteractionModes/ProximityEnteredEventArgs.cs.meta
  org.mixedrealitytoolkit.input/InteractionModes/ProximityExitedEventArgs.cs
  org.mixedrealitytoolkit.input/InteractionModes/ProximityExitedEventArgs.cs.meta
  org.mixedrealitytoolkit.uxcomponents.noncanvas/Tests/Runtime/PressableButtonTests.cs
  org.mixedrealitytoolkit.uxcore/Button/PressableButton.cs
  org.mixedrealitytoolkit.uxcore/Editor/Inspectors/PressableButton/PressableButtonInspector.cs
  org.mixedrealitytoolkit.uxcore/package.json
Labels: Package: UX Components, Package: UX Core
