Repository MixedRealityToolkit/MixedRealityToolkit-Unity, pull requests merged in 2024-01, with the labels that each got.

#608 Fix warning and event triggered on disabled StatefulInteractable after changing speech settings (#591)
  org.mixedrealitytoolkit.core/Interactables/StatefulInteractable.cs
  org.mixedrealitytoolkit.uxcomponents.noncanvas/Tests/Runtime/PressableButtonTests.cs
Labels: Package: Core

#614 Fix empty SpeechRecognitionKeyword breaking all speech keyword system (#612)
  org.mixedrealitytoolkit.input/Interactors/Speech/SpeechInteractor.cs
Labels: Package: Input

#602 Updating maintainer rules
  GOVERNANCE.md
Labels: Type: Documentation, Priority: High

#567 ObjectManipulator's ManipulationLogic observes XRSocketInteractor
  org.mixedrealitytoolkit.spatialmanipulation/ObjectManipulator/MoveLogics/ManipulationLogic.cs
  org.mixedrealitytoolkit.spatialmanipulation/ObjectManipulator/MoveLogics/RotateLogic.cs
  org.mixedrealitytoolkit.spatialmanipulation/ObjectManipulator/MoveLogics/UnifiedMoveLogic.cs
  org.mixedrealitytoolkit.spatialmanipulation/ObjectManipulator/ObjectManipulator.cs
  org.mixedrealitytoolkit.spatialmanipulation/Tests/Runtime/ObjectManipulatorTests.cs
Labels: Type: Feature Request, Package: Spatial Manipulation
