Repository MixedRealityToolkit/MixedRealityToolkit-Unity, pull requests merged in 2024-03, with the labels that each got.

#659 Additional feedback for pr611
  org.mixedrealitytoolkit.input/InteractionModes/BaseProximityEventArgs.cs
  org.mixedrealitytoolkit.input/InteractionModes/BaseProximityEventArgs.cs.meta
  org.mixedrealitytoolkit.input/InteractionModes/IXRProximityInteractable.cs
  org.mixedrealitytoolkit.input/InteractionModes/NearInteractionModeDetector.cs
  org.mixedrealitytoolkit.input/InteractionModes/ProximityDetector.cs
  org.mixedrealitytoolkit.input/InteractionModes/ProximityEnteredEventArgs.cs
  org.mixedrealitytoolkit.input/InteractionModes/ProximityEnteredEventArgs.cs.meta
  org.mixedrealitytoolkit.input/InteractionModes/ProximityExitedEventArgs.cs
  org.mixedrealitytoolkit.input/InteractionModes/ProximityExitedEventArgs.cs.meta
  org.mixedrealitytoolkit.uxcomponents.noncanvas/Tests/Runtime/PressableButtonTests.cs
  org.mixedrealitytoolkit.uxcore/Button/PressableButton.cs
Labels: Package: Input, Package: UX Components (Non-Canvas), Package: UX Core

#696 Fixing shaders of a couple of TMPro fonts
  Pipelines/Config/settings.yaml
  UnityProjects/MRTKDevTemplate/Assets/Data Binding Example/Resources/Fonts & Materials/CooperHewitt-BoldItalic SDF.asset
  org.mixedrealitytoolkit.standardassets/Icons/MRTK_FluentIconSet SDF.asset
Labels: Package: Data, Package: Standard Assets

#704 Add logic to account for a bound but untracked interaction profile
  org.mixedrealitytoolkit.input/CHANGELOG.md
  org.mixedrealitytoolkit.input/Controllers/ArticulatedHandController.cs
  org.mixedrealitytoolkit.input/package.json
Labels: Package: Input
