Repository MixedRealityToolkit/MixedRealityToolkit-Unity, changes with the owners that CODEOWNERS names for each.
All owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @shaynie, @amollis, @keveleigh, @david-c-kline, @marlenaklein-msft, @AMollis

CODEOWNERS:

# This file contains information about the code owners for various
# files in the MRTK codebase.
#
# For more information on CODEOWNERS, see:
# https://help.github.com/en/articles/about-code-owners
#
# For syntax, see:
# https://help.github.com/en/articles/about-code-owners#codeowners-syntax
#
# The intent of this file is to list, on a per-file/per-area basis:
# 1) Who is the most familiar with an area of code.
# OR
# 2) Who can take a first pass at pull request review, or delegate the review
# to someone else who may be more appropriate.
#
# Note that order in this file is EXTREMELY important - the last matching
# rule will win. This means that the most general rules should be listed
# first in this file, followed by more specific rules.
# 
# Maintainers can add to CODEOWNERS by following the CONTRIBUTING.md rules.

# Default Owners (Must include Maintainers)
* @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers

# Build / CI Pipeline
/Pipelines/ @shaynie @amollis @keveleigh

# Tooling
/Tooling/ @shaynie @amollis @keveleigh @david-c-kline

# Feature packages
/org.mixedrealitytoolkit.accessibility/ @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers @marlenaklein-msft @AMollis @shaynie
/org.mixedrealitytoolkit.audio/ @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers @marlenaklein-msft @AMollis @shaynie
/org.mixedrealitytoolkit.core/ @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers @marlenaklein-msft @AMollis @shaynie
/org.mixedrealitytoolkit.data/ @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers @marlenaklein-msft @AMollis @shaynie
/org.mixedrealitytoolkit.diagnostics/ @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers @marlenaklein-msft @AMollis @shaynie
/org.mixedrealitytoolkit.input/ @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers @marlenaklein-msft @AMollis @shaynie
/org.mixedrealitytoolkit.spatialmanipulation/ @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers @marlenaklein-msft @AMollis @shaynie
/org.mixedrealitytoolkit.tools/ @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers @marlenaklein-msft @AMollis @shaynie
/org.mixedrealitytoolkit.uxcomponents/ @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers @marlenaklein-msft @AMollis @shaynie
/org.mixedrealitytoolkit.uxcore/ @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers @marlenaklein-msft @AMollis @shaynie
/org.mixedrealitytoolkit.windowsspeech/ @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers @marlenaklein-msft @AMollis @shaynie

# Examples and templates
/UnityProjects/ @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers @marlenaklein-msft @AMollis @shaynie

# Goverance documents (Must include Maintainers)
CODEOWNERS @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers
CONTRIBUTING.md @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers
MAINTAINERS.md @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers
GOVERNANCE.md @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers

Added Max Palmer and Rob Blenkinsopp to the maintainers list
  MAINTAINERS.md
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers

Added Max Palmer and Rob Blenkinsopp to the maintainers list (#695)
  MAINTAINERS.md
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers

Additional feedback for pr611 (#659)
  org.mixedrealitytoolkit.input/InteractionModes/BaseProximityEventArgs.cs
  org.mixedrealitytoolkit.input/InteractionModes/BaseProximityEventArgs.cs.meta
  org.mixedrealitytoolkit.input/InteractionModes/IXRProximityInteractable.cs
  org.mixedrealitytoolkit.input/InteractionModes/NearInteractionModeDetector.cs
  org.mixedrealitytoolkit.input/InteractionModes/ProximityDetector.cs
  org.mixedrealitytoolkit.input/InteractionModes/ProximityEnteredEventArgs.cs
  org.mixedrealitytoolkit.input/InteractionModes/ProximityEnteredEventArgs.cs.meta
  org.mixedrealitytoolkit.input/InteractionModes/ProximityExitedEventArgs.cs
  org.mixedrealitytoolkit.input/InteractionModes/ProximityExitedEventArgs.cs.meta
  org.mixedrealitytoolkit.uxcomponents.noncanvas/Tests/Runtime/PressableButtonTests.cs
  org.mixedrealitytoolkit.uxcore/Button/PressableButton.cs
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

Updating MRTK_FluentIconSet SDF's shader to a Graphic Tools TMPro shader, so the font works in UPM projects.
  UnityProjects/MRTKDevTemplate/Assets/Data Binding Example/Resources/Fonts & Materials/CooperHewitt-BoldItalic SDF.asset
  org.mixedrealitytoolkit.standardassets/Icons/MRTK_FluentIconSet SDF.asset
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

Updating "preview" tag, since a preview package was updated
  Pipelines/Config/settings.yaml
Owners: @shaynie, @amollis, @keveleigh

Fixing shaders of a couple of TMPro fonts (#696)
  Pipelines/Config/settings.yaml
  UnityProjects/MRTKDevTemplate/Assets/Data Binding Example/Resources/Fonts & Materials/CooperHewitt-BoldItalic SDF.asset
  org.mixedrealitytoolkit.standardassets/Icons/MRTK_FluentIconSet SDF.asset
Owners: @shaynie, @amollis, @keveleigh, @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis

Adding missing [CanEditMultipleObject] attributes
  org.mixedrealitytoolkit.core/Editor/Editors/BaseInteractableEditor.cs
  org.mixedrealitytoolkit.core/Editor/Editors/MRTKProfileEditor.cs
  org.mixedrealitytoolkit.core/Editor/Editors/MRTKSettingsEditor.cs
  org.mixedrealitytoolkit.data/Editor/Inspectors/DataConsumerSpriteInspector.cs
  org.mixedrealitytoolkit.data/Editor/Inspectors/DataKeyPathMapperInspector.cs
  org.mixedrealitytoolkit.input/Editor/Inspectors/InteractionDetectorEditor.cs
  org.mixedrealitytoolkit.input/Editor/Inspectors/InteractionModeManagerEditor.cs
  org.mixedrealitytoolkit.input/Editor/Inspectors/UnboundedTrackingModeInspector.cs
  org.mixedrealitytoolkit.uxcore/Editor/Inspectors/FontIconSet/FontIconSelectorInspector.cs
  org.mixedrealitytoolkit.uxcore/Editor/Inspectors/FontIconSet/FontIconSetInspector.cs
  org.mixedrealitytoolkit.uxcore/Editor/Inspectors/PressableButton/PressableButtonInspector.cs
  org.mixedrealitytoolkit.uxcore/Editor/Inspectors/Slider/SliderInspector.cs
  org.mixedrealitytoolkit.windowsspeech/Editor/Inspectors/WindowsTextToSpeechSubsystemConfigInspector.cs
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

Update changelogs and package.json files to prep release
  org.mixedrealitytoolkit.accessibility/CHANGELOG.md
  org.mixedrealitytoolkit.accessibility/package.json
  org.mixedrealitytoolkit.audio/CHANGELOG.md
  org.mixedrealitytoolkit.core/CHANGELOG.md
  org.mixedrealitytoolkit.data/CHANGELOG.md
  org.mixedrealitytoolkit.data/package.json
  org.mixedrealitytoolkit.diagnostics/CHANGELOG.md
  org.mixedrealitytoolkit.extendedassets/CHANGELOG.md
  org.mixedrealitytoolkit.extendedassets/package.json
  org.mixedrealitytoolkit.input/CHANGELOG.md
  org.mixedrealitytoolkit.spatialmanipulation/CHANGELOG.md
  org.mixedrealitytoolkit.standardassets/CHANGELOG.md
  org.mixedrealitytoolkit.tools/CHANGELOG.md
  org.mixedrealitytoolkit.uxcomponents.noncanvas/CHANGELOG.md
  org.mixedrealitytoolkit.uxcomponents/CHANGELOG.md
  org.mixedrealitytoolkit.uxcore/CHANGELOG.md
  org.mixedrealitytoolkit.windowsspeech/CHANGELOG.md
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

Update CHANGELOGs with full urls to PRs Change package version for extended assets back to 3.0.2
  org.mixedrealitytoolkit.accessibility/CHANGELOG.md
  org.mixedrealitytoolkit.audio/CHANGELOG.md
  org.mixedrealitytoolkit.core/CHANGELOG.md
  org.mixedrealitytoolkit.data/CHANGELOG.md
  org.mixedrealitytoolkit.diagnostics/CHANGELOG.md
  org.mixedrealitytoolkit.extendedassets/CHANGELOG.md
  org.mixedrealitytoolkit.extendedassets/package.json
  org.mixedrealitytoolkit.input/CHANGELOG.md
  org.mixedrealitytoolkit.spatialmanipulation/CHANGELOG.md
  org.mixedrealitytoolkit.standardassets/CHANGELOG.md
  org.mixedrealitytoolkit.tools/CHANGELOG.md
  org.mixedrealitytoolkit.uxcomponents.noncanvas/CHANGELOG.md
  org.mixedrealitytoolkit.uxcomponents/CHANGELOG.md
  org.mixedrealitytoolkit.uxcore/CHANGELOG.md
  org.mixedrealitytoolkit.windowsspeech/CHANGELOG.md
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

Update changelogs and package.json files to prep release (#699)
  org.mixedrealitytoolkit.accessibility/CHANGELOG.md
  org.mixedrealitytoolkit.accessibility/package.json
  org.mixedrealitytoolkit.audio/CHANGELOG.md
  org.mixedrealitytoolkit.core/CHANGELOG.md
  org.mixedrealitytoolkit.data/CHANGELOG.md
  org.mixedrealitytoolkit.data/package.json
  org.mixedrealitytoolkit.diagnostics/CHANGELOG.md
  org.mixedrealitytoolkit.extendedassets/CHANGELOG.md
  org.mixedrealitytoolkit.input/CHANGELOG.md
  org.mixedrealitytoolkit.spatialmanipulation/CHANGELOG.md
  org.mixedrealitytoolkit.standardassets/CHANGELOG.md
  org.mixedrealitytoolkit.tools/CHANGELOG.md
  org.mixedrealitytoolkit.uxcomponents.noncanvas/CHANGELOG.md
  org.mixedrealitytoolkit.uxcomponents/CHANGELOG.md
  org.mixedrealitytoolkit.uxcore/CHANGELOG.md
  org.mixedrealitytoolkit.windowsspeech/CHANGELOG.md
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

Updating MRTK_FluentIconSet with icons from Microsoft's FluentSystemIcons-Regular
  org.mixedrealitytoolkit.standardassets/Icons/MRTK_FluentIconSet.ttf
  org.mixedrealitytoolkit.standardassets/Icons/MRTK_FluentIconSet.ttf.meta
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers

Updating selawk* ttf files to use icons from Microsoft's FluentSystemIcons-Regular
  org.mixedrealitytoolkit.standardassets/Fonts/selawk.ttf
  org.mixedrealitytoolkit.standardassets/Fonts/selawkb.ttf
  org.mixedrealitytoolkit.standardassets/Fonts/selawkl.ttf
  org.mixedrealitytoolkit.standardassets/Fonts/selawksb.ttf
  org.mixedrealitytoolkit.standardassets/Fonts/selawksl.ttf
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers

Updating existing ttf with new versions that include icons
  org.mixedrealitytoolkit.standardassets/Fonts/selawk.ttf
  org.mixedrealitytoolkit.standardassets/Fonts/selawkb.ttf
  org.mixedrealitytoolkit.standardassets/Fonts/selawkl.ttf
  org.mixedrealitytoolkit.standardassets/Fonts/selawksb.ttf
  org.mixedrealitytoolkit.standardassets/Fonts/selawksl.ttf
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers

Updating license ofr Fluent UI System Icons
  org.mixedrealitytoolkit.standardassets/Icons/LICENSE.txt
  org.mixedrealitytoolkit.standardassets/Icons/LICENSE.txt.meta
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers

Renaming font materials, font assets, and ttfs as per specs
  org.mixedrealitytoolkit.standardassets/Fonts/Selawik-Bold-MRTKIcons SDF.asset
  org.mixedrealitytoolkit.standardassets/Fonts/Selawik-Bold-MRTKIcons SDF.asset.meta
  org.mixedrealitytoolkit.standardassets/Fonts/Selawik-Bold-MRTKIcons ZWrite On Atlas Material.mat
  org.mixedrealitytoolkit.standardassets/Fonts/Selawik-Bold-MRTKIcons ZWrite On Atlas Material.mat.meta
  org.mixedrealitytoolkit.standardassets/Fonts/Selawik-Bold-MRTKIcons.ttf
  org.mixedrealitytoolkit.standardassets/Fonts/Selawik-Bold-MRTKIcons.ttf.meta
  org.mixedrealitytoolkit.standardassets/Fonts/Selawik-Light-MRTKIcons SDF.asset
  org.mixedrealitytoolkit.standardassets/Fonts/Selawik-Light-MRTKIcons SDF.asset.meta
  org.mixedrealitytoolkit.standardassets/Fonts/Selawik-Light-MRTKIcons Zwrite OnAtlas Material.mat
  org.mixedrealitytoolkit.standardassets/Fonts/Selawik-Light-MRTKIcons Zwrite OnAtlas Material.mat.meta
  org.mixedrealitytoolkit.standardassets/Fonts/Selawik-Light-MRTKIcons.ttf
  org.mixedrealitytoolkit.standardassets/Fonts/Selawik-Light-MRTKIcons.ttf.meta
  org.mixedrealitytoolkit.standardassets/Fonts/Selawik-Regular-MRTKIcons SDF.asset
  org.mixedrealitytoolkit.standardassets/Fonts/Selawik-Regular-MRTKIcons SDF.asset.meta
  org.mixedrealitytoolkit.standardassets/Fonts/Selawik-Regular-MRTKIcons ZWrite On Atlas Material.mat
  org.mixedrealitytoolkit.standardassets/Fonts/Selawik-Regular-MRTKIcons ZWrite On Atlas Material.mat.meta
  org.mixedrealitytoolkit.standardassets/Fonts/Selawik-Regular-MRTKIcons.ttf
  org.mixedrealitytoolkit.standardassets/Fonts/Selawik-Regular-MRTKIcons.ttf.meta
  org.mixedrealitytoolkit.standardassets/Fonts/Selawik-Semibold-MRTKIcons SDF.asset
  org.mixedrealitytoolkit.standardassets/Fonts/Selawik-Semibold-MRTKIcons SDF.asset.meta
  org.mixedrealitytoolkit.standardassets/Fonts/Selawik-Semibold-MRTKIcons Zwrite On Atlas Material.mat
  org.mixedrealitytoolkit.standardassets/Fonts/Selawik-Semibold-MRTKIcons Zwrite On Atlas Material.mat.meta
  org.mixedrealitytoolkit.standardassets/Fonts/Selawik-Semibold-MRTKIcons.ttf
  org.mixedrealitytoolkit.standardassets/Fonts/Selawik-Semibold-MRTKIcons.ttf.meta
  org.mixedrealitytoolkit.standardassets/Fonts/Selawik-Semilight-MRTKIcons SDF.asset
  org.mixedrealitytoolkit.standardassets/Fonts/Selawik-Semilight-MRTKIcons SDF.asset.meta
  org.mixedrealitytoolkit.standardassets/Fonts/Selawik-Semilight-MRTKIcons Zwrite On Atlas Material.mat
  org.mixedrealitytoolkit.standardassets/Fonts/Selawik-Semilight-MRTKIcons Zwrite On Atlas Material.mat.meta
  org.mixedrealitytoolkit.standardassets/Fonts/Selawik-Semilight-MRTKIcons.ttf
  org.mixedrealitytoolkit.standardassets/Fonts/Selawik-Semilight-MRTKIcons.ttf.meta
  org.mixedrealitytoolkit.standardassets/Fonts/selawk.ttf.meta
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers

Updating ActionButton prefab and MRTK_FluentIconSet material asset to use the same font source
  org.mixedrealitytoolkit.standardassets/Icons/MRTK_FluentIconSet.asset
  org.mixedrealitytoolkit.uxcomponents/Button/Prefabs/Action Button.prefab
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

Removing font's icon scaling mitigation as no longer needed because icons are now properly scaled in source ttf files
  org.mixedrealitytoolkit.uxcomponents/Button/Prefabs/Action Button.prefab
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

Updating font assets' atlas textures
  org.mixedrealitytoolkit.standardassets/Fonts/selawk SDF.asset
  org.mixedrealitytoolkit.standardassets/Fonts/selawkb SDF.asset
  org.mixedrealitytoolkit.standardassets/Fonts/selawkl SDF.asset
  org.mixedrealitytoolkit.standardassets/Fonts/selawksb SDF.asset
  org.mixedrealitytoolkit.standardassets/Fonts/selawksl SDF.asset
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers

Updating Font Assets' atlas textures
  org.mixedrealitytoolkit.standardassets/Fonts/selawk SDF.asset
  org.mixedrealitytoolkit.standardassets/Fonts/selawkb SDF.asset
  org.mixedrealitytoolkit.standardassets/Fonts/selawkl SDF.asset
  org.mixedrealitytoolkit.standardassets/Fonts/selawksb SDF.asset
  org.mixedrealitytoolkit.standardassets/Fonts/selawksl SDF.asset
  org.mixedrealitytoolkit.standardassets/Icons/MRTK_FluentIconSet SDF.asset
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers

Restoring previous MRTK_FluentIconSet.asset, added new MRTK_FluentIconSetWithSelawik.asset, updated 'Action Button.prefab' to use new MRTK_FluentIconSetWithSelawik.asset
  org.mixedrealitytoolkit.standardassets/Fonts/MRTK_FluentIconSetWithSelawik.asset
  org.mixedrealitytoolkit.standardassets/Fonts/MRTK_FluentIconSetWithSelawik.asset.meta
  org.mixedrealitytoolkit.uxcomponents/Button/Prefabs/Action Button.prefab
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

Restoring previous MRTK_FluentIconSet.ttf, MRTK_FluentIconSet.ttf.met, and 'MRTKFluentIconSet SDF.asset'
  org.mixedrealitytoolkit.standardassets/Icons/MRTK_FluentIconSet SDF.asset
  org.mixedrealitytoolkit.standardassets/Icons/MRTK_FluentIconSet.ttf
  org.mixedrealitytoolkit.standardassets/Icons/MRTK_FluentIconSet.ttf.meta
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers

Renaming MRTK_FluentIconSetWithSelawik to 'Fluent Icont Set'
  org.mixedrealitytoolkit.standardassets/Fonts/Fluent Icon Set.asset
  org.mixedrealitytoolkit.standardassets/Fonts/Fluent Icon Set.asset.meta
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers

Adding missing two icons in fonts assets
  org.mixedrealitytoolkit.standardassets/Fonts/Selawik-Bold-MRTKIcons SDF.asset
  org.mixedrealitytoolkit.standardassets/Fonts/Selawik-Light-MRTKIcons SDF.asset
  org.mixedrealitytoolkit.standardassets/Fonts/Selawik-Regular-MRTKIcons SDF.asset
  org.mixedrealitytoolkit.standardassets/Fonts/Selawik-Semibold-MRTKIcons SDF.asset
  org.mixedrealitytoolkit.standardassets/Fonts/Selawik-Semilight-MRTKIcons SDF.asset
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers

Addig README.md with fonts and icons references
  org.mixedrealitytoolkit.standardassets/Fonts/README.md
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers

Updating changelogs
  org.mixedrealitytoolkit.standardassets/CHANGELOG.md
  org.mixedrealitytoolkit.uxcomponents/CHANGELOG.md
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

Adding missing .meta for PR
  org.mixedrealitytoolkit.standardassets/Fonts/README.md.meta
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers

Updating FontIconExample scene to use the new 'Fluent Icon Set' material asset
  UnityProjects/MRTKDevTemplate/Assets/Scenes/FontIconExample.unity
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

Updating CanvasUITearsheetDynamicFrontplate scene to use the new 'Fluent Icon Set' material asset
  UnityProjects/MRTKDevTemplate/Assets/Scenes/Experimental/CanvasUITearsheetDynamicFrontplate.unity
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

Fixing changelogs format
  org.mixedrealitytoolkit.standardassets/CHANGELOG.md
  org.mixedrealitytoolkit.uxcomponents/CHANGELOG.md
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

Updating package.json versions
  org.mixedrealitytoolkit.standardassets/package.json
  org.mixedrealitytoolkit.uxcomponents/package.json
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

Adding README.md to Icons folder
  org.mixedrealitytoolkit.standardassets/Icons/README.md
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers

Re-updating MRTK_FluentIconSet with icons from Microsoft's FluentSystemIcons
  org.mixedrealitytoolkit.standardassets/Icons/MRTK_FluentIconSet.ttf
  org.mixedrealitytoolkit.standardassets/Icons/MRTK_FluentIconSet.ttf.meta
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers

Adding missing .meta file for repo
  org.mixedrealitytoolkit.standardassets/Icons/README.md.meta
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers

Updating MRTK_FluentIconSet material asset
  org.mixedrealitytoolkit.standardassets/Icons/MRTK_FluentIconSet SDF.asset
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers

Renaming 'Fluent Icon Set.asset' to Selawik-Semibold-MRTKIcons.asset
  org.mixedrealitytoolkit.standardassets/Fonts/Selawik-Semibold-MRTKIcons.asset
  org.mixedrealitytoolkit.standardassets/Fonts/Selawik-Semibold-MRTKIcons.asset.meta
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers

Add logic to account for a bound but untracked interaction profile
  org.mixedrealitytoolkit.input/Controllers/ArticulatedHandController.cs
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

Adding an additional FluentIconSet license for the merged font. And adding a notice file
  org.mixedrealitytoolkit.standardassets/Fonts/LICENSE_FluentIconSet.txt
  org.mixedrealitytoolkit.standardassets/Fonts/LICENSE_FluentIconSet.txt.meta
  org.mixedrealitytoolkit.standardassets/NOTICE.txt
  org.mixedrealitytoolkit.standardassets/NOTICE.txt.meta
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers

Update version and changelog
  org.mixedrealitytoolkit.input/CHANGELOG.md
  org.mixedrealitytoolkit.input/package.json
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

Add logic to account for a bound but untracked interaction profile (#704)
  org.mixedrealitytoolkit.input/CHANGELOG.md
  org.mixedrealitytoolkit.input/Controllers/ArticulatedHandController.cs
  org.mixedrealitytoolkit.input/package.json
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

Don't update various axes unless actively tracked
  org.mixedrealitytoolkit.input/Simulation/InputSimulator.cs
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie
