Repository MixedRealityToolkit/MixedRealityToolkit-Unity, changes with the owners that CODEOWNERS names for each.
All owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @shaynie, @marlenaklein-msft, @AMollis

Fix Flattening Bounds Control Bug (#12)
  com.microsoft.mrtk.spatialmanipulation/BoundsControl/Visuals/SqueezableBoxVisuals.cs
Owners: @marlenaklein-msft, @AMollis, @shaynie

Fixing various warnings with MRTK3 samples (#13)
  UnityProjects/MRTKDevTemplate/Assets/Scripts/InteractorBehaviorControls.cs
  com.microsoft.mrtk.input/Tracking/UnboundedTrackingMode.cs
  com.microsoft.mrtk.uxcomponents/Experimental/Scrollable/ScrollablePanel.prefab
Owners: @marlenaklein-msft, @AMollis, @shaynie

Update main branch version to pre.19
  Pipelines/Config/settings.yaml
  UnityProjects/MRTKDevTemplate/ProjectSettings/ProjectSettings.asset
Owners: @shaynie, @marlenaklein-msft, @AMollis

Update main branch version to pre.19 (#14)
  Pipelines/Config/settings.yaml
  UnityProjects/MRTKDevTemplate/ProjectSettings/ProjectSettings.asset
Owners: @shaynie, @marlenaklein-msft, @AMollis

GHazen-ML signed MAINTAINERS.md
  MAINTAINERS.md
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers

whebertML signed MAINTAINERS.md
  MAINTAINERS.md
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers

Add david-c-kline to maintainers
  MAINTAINERS.md
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers

GHazen-ML signed MAINTAINERS.md (#18)
  MAINTAINERS.md
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers

Fixing links in MAINTAINERS.md
  MAINTAINERS.md
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers

Update MAINTAINERS.md
  MAINTAINERS.md
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers

Fixing links in MAINTAINERS.md (#17)
  MAINTAINERS.md
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers

CODEOWNERS:

# This file contains information about the code owners for various
# files in the MRTK codebase.
#
# For more information on CODEOWNERS, see:
# https://help.github.com/en/articles/about-code-owners
#
# For syntax, see:
# https://help.github.com/en/articles/about-code-owners#codeowners-syntax
#
# The intent of this file is to list, on a per-file/per-area basis:
# 1) Who is the most familiar with an area of code.
# OR
# 2) Who can take a first pass at pull request review, or delegate the review
# to someone else who may be more appropriate.
#
# Note that order in this file is EXTREMELY important - the last matching
# rule will win. This means that the most general rules should be listed
# first in this file, followed by more specific rules.
# 
# Maintainers can add to CODEOWNERS by following the CONTRIBUTING.md rules.

# Default Owners (Must include Maintainers)
* @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers

# Build / CI Pipeline
/Pipelines/ @shaynie

# Tooling
/Tooling/ @shaynie

# Feature packages
/com.microsoft.mrtk.accessibility/ @marlenaklein-msft @AMollis @shaynie
/com.microsoft.mrtk.audio/ @marlenaklein-msft @AMollis @shaynie
/com.microsoft.mrtk.core/ @marlenaklein-msft @AMollis @shaynie
/com.microsoft.mrtk.data/ @marlenaklein-msft @AMollis @shaynie
/com.microsoft.mrtk.diagnostics/ @marlenaklein-msft @AMollis @shaynie
/com.microsoft.mrtk.input/ @marlenaklein-msft @AMollis @shaynie
/com.microsoft.mrtk.spatialmanipulation/ @marlenaklein-msft @AMollis @shaynie
/com.microsoft.mrtk.tools/ @marlenaklein-msft @AMollis @shaynie
/com.microsoft.mrtk.uxcomponents/ @marlenaklein-msft @AMollis @shaynie
/com.microsoft.mrtk.uxcore/ @marlenaklein-msft @AMollis @shaynie
/com.microsoft.mrtk.windowsspeech/ @marlenaklein-msft @AMollis @shaynie

# Examples and templates
/UnityProjects/ @marlenaklein-msft @AMollis @shaynie

# Goverance documents (Must include Maintainers)
CODEOWNERS @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers
CONTRIBUTING.md @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers
MAINTAINERS.md @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers
GOVERNANCE.md @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers
