Repository MixedRealityToolkit/MixedRealityToolkit-Unity, changes with the owners that CODEOWNERS names for each.
All owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @shaynie, @marlenaklein-msft, @AMollis

CODEOWNERS:

# This file contains information about the code owners for various
# files in the MRTK codebase.
#
# For more information on CODEOWNERS, see:
# https://help.github.com/en/articles/about-code-owners
#
# For syntax, see:
# https://help.github.com/en/articles/about-code-owners#codeowners-syntax
#
# The intent of this file is to list, on a per-file/per-area basis:
# 1) Who is the most familiar with an area of code.
# OR
# 2) Who can take a first pass at pull request review, or delegate the review
# to someone else who may be more appropriate.
#
# Note that order in this file is EXTREMELY important - the last matching
# rule will win. This means that the most general rules should be listed
# first in this file, followed by more specific rules.
# 
# Maintainers can add to CODEOWNERS by following the CONTRIBUTING.md rules.

# Default Owners (Must include Maintainers)
* @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers

# Build / CI Pipeline
/Pipelines/ @shaynie

# Tooling
/Tooling/ @shaynie

# Feature packages
/com.microsoft.mrtk.accessibility/ @marlenaklein-msft @AMollis @shaynie
/com.microsoft.mrtk.audio/ @marlenaklein-msft @AMollis @shaynie
/com.microsoft.mrtk.core/ @marlenaklein-msft @AMollis @shaynie
/com.microsoft.mrtk.data/ @marlenaklein-msft @AMollis @shaynie
/com.microsoft.mrtk.diagnostics/ @marlenaklein-msft @AMollis @shaynie
/com.microsoft.mrtk.input/ @marlenaklein-msft @AMollis @shaynie
/com.microsoft.mrtk.spatialmanipulation/ @marlenaklein-msft @AMollis @shaynie
/com.microsoft.mrtk.tools/ @marlenaklein-msft @AMollis @shaynie
/com.microsoft.mrtk.uxcomponents/ @marlenaklein-msft @AMollis @shaynie
/com.microsoft.mrtk.uxcore/ @marlenaklein-msft @AMollis @shaynie
/com.microsoft.mrtk.windowsspeech/ @marlenaklein-msft @AMollis @shaynie

# Examples and templates
/UnityProjects/ @marlenaklein-msft @AMollis @shaynie

# Goverance documents (Must include Maintainers)
CODEOWNERS @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers
CONTRIBUTING.md @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers
MAINTAINERS.md @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers
GOVERNANCE.md @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers

update licenses in packages
  com.microsoft.mrtk.accessibility/LICENSE.md
  com.microsoft.mrtk.audio/LICENSE.md
  com.microsoft.mrtk.data/LICENSE.md
  com.microsoft.mrtk.diagnostics/LICENSE.md
  com.microsoft.mrtk.extendedassets/LICENSE.md
  com.microsoft.mrtk.input/LICENSE.md
  com.microsoft.mrtk.spatialmanipulation/LICENSE.md
  com.microsoft.mrtk.standardassets/LICENSE.md
  com.microsoft.mrtk.tools/LICENSE.md
  com.microsoft.mrtk.uxcomponents.noncanvas/LICENSE.md
  com.microsoft.mrtk.uxcomponents/LICENSE.md
  com.microsoft.mrtk.uxcore/LICENSE.md
  com.microsoft.mrtk.windowsspeech/LICENSE.md
Owners: @marlenaklein-msft, @AMollis, @shaynie, @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers

Update license files in all packages (#5)
  com.microsoft.mrtk.accessibility/LICENSE.md
  com.microsoft.mrtk.audio/LICENSE.md
  com.microsoft.mrtk.data/LICENSE.md
  com.microsoft.mrtk.diagnostics/LICENSE.md
  com.microsoft.mrtk.extendedassets/LICENSE.md
  com.microsoft.mrtk.input/LICENSE.md
  com.microsoft.mrtk.spatialmanipulation/LICENSE.md
  com.microsoft.mrtk.standardassets/LICENSE.md
  com.microsoft.mrtk.tools/LICENSE.md
  com.microsoft.mrtk.uxcomponents.noncanvas/LICENSE.md
  com.microsoft.mrtk.uxcomponents/LICENSE.md
  com.microsoft.mrtk.uxcore/LICENSE.md
  com.microsoft.mrtk.windowsspeech/LICENSE.md
Owners: @marlenaklein-msft, @AMollis, @shaynie, @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers

Signing MAINTAINERS doc
  MAINTAINERS.md
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers

Remove LICENSE file. again
  LICENSE
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers

Sign MAINTAINERS.md
  MAINTAINERS.md
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers

Sign MAINTAINERS.md (#7)
  MAINTAINERS.md
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers

Meta files were missed when adding in the new LICENSE.md files.
  com.microsoft.mrtk.accessibility/LICENSE.md.meta
  com.microsoft.mrtk.audio/LICENSE.md.meta
  com.microsoft.mrtk.spatialmanipulation/LICENSE.md.meta
  com.microsoft.mrtk.tools/LICENSE.md.meta
Owners: @marlenaklein-msft, @AMollis, @shaynie

Meta files were missed when adding in the new LICENSE.md files. (#8)
  com.microsoft.mrtk.accessibility/LICENSE.md.meta
  com.microsoft.mrtk.audio/LICENSE.md.meta
  com.microsoft.mrtk.spatialmanipulation/LICENSE.md.meta
  com.microsoft.mrtk.tools/LICENSE.md.meta
Owners: @marlenaklein-msft, @AMollis, @shaynie

[MRKT3] Making custom reticles a bit easier in MRTK3. (#11758)
  com.microsoft.mrtk.core/Interactors/IReticleVisual.cs
  com.microsoft.mrtk.core/Interactors/IReticleVisual.cs.meta
  com.microsoft.mrtk.core/Interactors/IVariableProgressReticle.cs
  com.microsoft.mrtk.core/Interactors/IVariableProgressReticle.cs.meta
  com.microsoft.mrtk.core/Interactors/IVariableSelectInteractor.cs
  com.microsoft.mrtk.input/Assets/Prefabs/MRTK LeftHand Controller.prefab
  com.microsoft.mrtk.input/Experimental/SpatialMouse/Interactor/SpatialMouseInteractorCursorVisual.cs
  com.microsoft.mrtk.input/Interactors/InteractorVisuals/BaseReticleVisual.cs
  com.microsoft.mrtk.input/Interactors/InteractorVisuals/MRTKPokeReticleVisual.cs
  com.microsoft.mrtk.input/Interactors/InteractorVisuals/MRTKRayReticleVisual.cs
  com.microsoft.mrtk.input/Interactors/InteractorVisuals/ReticleMagnetism.cs
  com.microsoft.mrtk.input/Interactors/InteractorVisuals/RingReticle.cs
  com.microsoft.mrtk.spatialmanipulation/BoundsControl/Visuals/SpatialManipulationReticle.cs
Owners: @marlenaklein-msft, @AMollis, @shaynie

[MRKT3] Making custom reticles a bit easier in MRTK3. (#11758)
  com.microsoft.mrtk.core/Interactors/IVariableProgressReticle.cs
Owners: @marlenaklein-msft, @AMollis, @shaynie

[MRKT3] Making custom reticles a bit easier in MRTK3. (#9)
  com.microsoft.mrtk.core/Interactors/IReticleVisual.cs
  com.microsoft.mrtk.core/Interactors/IReticleVisual.cs.meta
  com.microsoft.mrtk.core/Interactors/IVariableProgressReticle.cs
  com.microsoft.mrtk.core/Interactors/IVariableProgressReticle.cs.meta
  com.microsoft.mrtk.core/Interactors/IVariableSelectInteractor.cs
  com.microsoft.mrtk.input/Assets/Prefabs/MRTK LeftHand Controller.prefab
  com.microsoft.mrtk.input/Experimental/SpatialMouse/Interactor/SpatialMouseInteractorCursorVisual.cs
  com.microsoft.mrtk.input/Interactors/InteractorVisuals/BaseReticleVisual.cs
  com.microsoft.mrtk.input/Interactors/InteractorVisuals/MRTKPokeReticleVisual.cs
  com.microsoft.mrtk.input/Interactors/InteractorVisuals/MRTKRayReticleVisual.cs
  com.microsoft.mrtk.input/Interactors/InteractorVisuals/ReticleMagnetism.cs
  com.microsoft.mrtk.input/Interactors/InteractorVisuals/RingReticle.cs
  com.microsoft.mrtk.spatialmanipulation/BoundsControl/Visuals/SpatialManipulationReticle.cs
Owners: @marlenaklein-msft, @AMollis, @shaynie

Polishing contribution documentation
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers

small tweak
  CODE_OF_CONDUCT.md
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers

Polishing contribution documentation (#10)
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers

Updating doc generation so output directories match the official monikers.
  Pipelines/Templates/docs.yaml
Owners: @shaynie

updating doctools repository
  Pipelines/ci.yaml
Owners: @shaynie

Updating doc commit hash
  Pipelines/ci.yaml
Owners: @shaynie

Updating commit hash
  Pipelines/ci.yaml
Owners: @shaynie

Updating commit hash
  Pipelines/ci.yaml
Owners: @shaynie

testing with old inputs
  Pipelines/Templates/docs.yaml
Owners: @shaynie

Reverting test
  Pipelines/Templates/docs.yaml
Owners: @shaynie

Updating libdoc tools
  Pipelines/ci.yaml
  Pipelines/rc.yaml
Owners: @shaynie

Updating commit hash again
  Pipelines/ci.yaml
Owners: @shaynie

Adding OutputCommonDependenciesDirectory
  Pipelines/Templates/docs.yaml
Owners: @shaynie

updating commit hash
  Pipelines/ci.yaml
Owners: @shaynie

Try new script
  Pipelines/Templates/docs.yaml
  Pipelines/ci.yaml
Owners: @shaynie

fixing typo
  Pipelines/Templates/docs.yaml
Owners: @shaynie

trying this
  Pipelines/Templates/docs.yaml
Owners: @shaynie

Trying this
  Pipelines/Templates/docs.yaml
Owners: @shaynie

Trying this
  Pipelines/Templates/docs.yaml
Owners: @shaynie

Updating commit hash
  Pipelines/Templates/docs.yaml
  Pipelines/ci.yaml
Owners: @shaynie

Updating lib doctools commit hash
  Pipelines/ci.yaml
Owners: @shaynie

Updating commit hash
  Pipelines/rc.yaml
Owners: @shaynie

Test old, deprecated path
  Pipelines/Templates/docs.yaml
Owners: @shaynie

Updating commit hash again
  Pipelines/ci.yaml
  Pipelines/rc.yaml
Owners: @shaynie

Reverting old code change
  Pipelines/Templates/docs.yaml
Owners: @shaynie

Flatten bug fix
  com.microsoft.mrtk.spatialmanipulation/BoundsControl/Visuals/SqueezableBoxVisuals.cs
Owners: @marlenaklein-msft, @AMollis, @shaynie

Updating pr and rc lib doctools commit hash
  Pipelines/pr.yaml
  Pipelines/rc.yaml
Owners: @shaynie

OOps fixing PR commit hash
  Pipelines/ci.yaml
  Pipelines/pr.yaml
Owners: @shaynie

Update Microsoft's build pipeline to use newer versions of the internal libdocs tools (#11)
  Pipelines/Templates/docs.yaml
  Pipelines/ci.yaml
  Pipelines/rc.yaml
Owners: @shaynie
