Repository MixedRealityToolkit/MixedRealityToolkit-Unity, changes with the owners that CODEOWNERS names for each.
All owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @shaynie, @amollis, @keveleigh, @david-c-kline, @marlenaklein-msft, @AMollis

CODEOWNERS:

# This file contains information about the code owners for various
# files in the MRTK codebase.
#
# For more information on CODEOWNERS, see:
# https://help.github.com/en/articles/about-code-owners
#
# For syntax, see:
# https://help.github.com/en/articles/about-code-owners#codeowners-syntax
#
# The intent of this file is to list, on a per-file/per-area basis:
# 1) Who is the most familiar with an area of code.
# OR
# 2) Who can take a first pass at pull request review, or delegate the review
# to someone else who may be more appropriate.
#
# Note that order in this file is EXTREMELY important - the last matching
# rule will win. This means that the most general rules should be listed
# first in this file, followed by more specific rules.
# 
# Maintainers can add to CODEOWNERS by following the CONTRIBUTING.md rules.

# Default Owners (Must include Maintainers)
* @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers

# Build / CI Pipeline
/Pipelines/ @shaynie @amollis @keveleigh

# Tooling
/Tooling/ @shaynie @amollis @keveleigh @david-c-kline

# Feature packages
/org.mixedrealitytoolkit.accessibility/ @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers @marlenaklein-msft @AMollis @shaynie
/org.mixedrealitytoolkit.audio/ @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers @marlenaklein-msft @AMollis @shaynie
/org.mixedrealitytoolkit.core/ @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers @marlenaklein-msft @AMollis @shaynie
/org.mixedrealitytoolkit.data/ @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers @marlenaklein-msft @AMollis @shaynie
/org.mixedrealitytoolkit.diagnostics/ @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers @marlenaklein-msft @AMollis @shaynie
/org.mixedrealitytoolkit.input/ @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers @marlenaklein-msft @AMollis @shaynie
/org.mixedrealitytoolkit.spatialmanipulation/ @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers @marlenaklein-msft @AMollis @shaynie
/org.mixedrealitytoolkit.tools/ @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers @marlenaklein-msft @AMollis @shaynie
/org.mixedrealitytoolkit.uxcomponents/ @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers @marlenaklein-msft @AMollis @shaynie
/org.mixedrealitytoolkit.uxcore/ @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers @marlenaklein-msft @AMollis @shaynie
/org.mixedrealitytoolkit.windowsspeech/ @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers @marlenaklein-msft @AMollis @shaynie

# Examples and templates
/UnityProjects/ @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers @marlenaklein-msft @AMollis @shaynie

# Goverance documents (Must include Maintainers)
CODEOWNERS @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers
CONTRIBUTING.md @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers
MAINTAINERS.md @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers
GOVERNANCE.md @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers

Fix minor issue of cubes changing color in some scenes when grabbed (#545)
  UnityProjects/MRTKDevTemplate/Assets/Scenes/DisableInteractorsExample.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/HandInteractionExamples.unity
  org.mixedrealitytoolkit.extendedassets/Materials/ObjectManipulationGrabbedLime.mat
  org.mixedrealitytoolkit.extendedassets/Materials/ObjectManipulationGrabbedLime.mat.meta
  org.mixedrealitytoolkit.extendedassets/Materials/ObjectManipulationGrabbedPurple.mat
  org.mixedrealitytoolkit.extendedassets/Materials/ObjectManipulationGrabbedPurple.mat.meta
  org.mixedrealitytoolkit.extendedassets/package.json
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

Adding missed line
  org.mixedrealitytoolkit.uxcore/Experimental/List/VirtualizedScrollRectList.cs
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

Added Rigidbody MovementType to ObjectManipulator
  org.mixedrealitytoolkit.spatialmanipulation/Editor/ObjectManipulator/ObjectManipulatorEditor.cs
  org.mixedrealitytoolkit.spatialmanipulation/ObjectManipulator/ObjectManipulator.cs
  org.mixedrealitytoolkit.spatialmanipulation/package.json
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

Adding Rigidbody MovementType to ObjectManipulator (#526)
  org.mixedrealitytoolkit.spatialmanipulation/Editor/ObjectManipulator/ObjectManipulatorEditor.cs
  org.mixedrealitytoolkit.spatialmanipulation/ObjectManipulator/ObjectManipulator.cs
  org.mixedrealitytoolkit.spatialmanipulation/package.json
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

created tenets document
  TENETS.md
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers

WaitForEndOfFrame -> null (avoid issues with batchmode in CI)
  org.mixedrealitytoolkit.uxcore/Experimental/List/VirtualizedScrollRectList.cs
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

Updates VirtualizedScrollRectListTests to skip frames correctly
  org.mixedrealitytoolkit.uxcore/Tests/Runtime/VirtualizedScrollRectListTests.cs
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

feedback: fix spelling error, remove code owners section
  TENETS.md
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers

Fix
  org.mixedrealitytoolkit.spatialmanipulation/BoundsControl/BoundsHandleInteractable.cs
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

Account for new package name in asmdef
  org.mixedrealitytoolkit.input/MRTK.Input.asmdef
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

Update to use the glTFast version in the Unity registry
  UnityProjects/MRTKDevTemplate/Packages/manifest.json
  UnityProjects/MRTKDevTemplate/Packages/packages-lock.json
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

Update MRTK.Input.Editor.asmdef
  org.mixedrealitytoolkit.input/Editor/MRTK.Input.Editor.asmdef
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

Update prefabs to no longer be variants
  org.mixedrealitytoolkit.input/Visualizers/ControllerVisualizer/Models/generic-trigger-squeeze-touchpad-thumbstick/LeftControllerModel.prefab
  org.mixedrealitytoolkit.input/Visualizers/ControllerVisualizer/Models/generic-trigger-squeeze-touchpad-thumbstick/RightControllerModel.prefab
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

Update fallbackControllerModel references
  org.mixedrealitytoolkit.input/Visualizers/RiggedHandVisualizer/openxr_left_hand.prefab
  org.mixedrealitytoolkit.input/Visualizers/RiggedHandVisualizer/openxr_right_hand.prefab
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

Fix controller model fallback serialization (#559)
  org.mixedrealitytoolkit.input/Visualizers/ControllerVisualizer/Models/generic-trigger-squeeze-touchpad-thumbstick/LeftControllerModel.prefab
  org.mixedrealitytoolkit.input/Visualizers/ControllerVisualizer/Models/generic-trigger-squeeze-touchpad-thumbstick/RightControllerModel.prefab
  org.mixedrealitytoolkit.input/Visualizers/RiggedHandVisualizer/openxr_left_hand.prefab
  org.mixedrealitytoolkit.input/Visualizers/RiggedHandVisualizer/openxr_right_hand.prefab
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

One more deprecated package
  com.microsoft.mrtk.accessibility/Editor.meta
  com.microsoft.mrtk.accessibility/Editor/DeprecatedWarning.cs
  com.microsoft.mrtk.accessibility/Editor/DeprecatedWarning.cs.meta
  com.microsoft.mrtk.accessibility/Editor/MRTK.Accessibility.Deprecated.Editor.asmdef
  com.microsoft.mrtk.accessibility/Editor/MRTK.Accessibility.Deprecated.Editor.asmdef.meta
  com.microsoft.mrtk.accessibility/LICENSE.md
  com.microsoft.mrtk.accessibility/LICENSE.md.meta
  com.microsoft.mrtk.accessibility/package.json
  com.microsoft.mrtk.accessibility/package.json.meta
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers

removed deprecated package pattern from upm pack script
  Pipelines/Scripts/pack-upm.ps1
Owners: @shaynie, @amollis, @keveleigh

Update author field in packages. Bump patch number
  org.mixedrealitytoolkit.accessibility/package.json
  org.mixedrealitytoolkit.audio/package.json
  org.mixedrealitytoolkit.core/package.json
  org.mixedrealitytoolkit.data/package.json
  org.mixedrealitytoolkit.diagnostics/package.json
  org.mixedrealitytoolkit.extendedassets/package.json
  org.mixedrealitytoolkit.input/package.json
  org.mixedrealitytoolkit.spatialmanipulation/package.json
  org.mixedrealitytoolkit.standardassets/package.json
  org.mixedrealitytoolkit.tools/package.json
  org.mixedrealitytoolkit.uxcomponents.noncanvas/package.json
  org.mixedrealitytoolkit.uxcomponents/package.json
  org.mixedrealitytoolkit.uxcore/package.json
  org.mixedrealitytoolkit.windowsspeech/package.json
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

Formatting in VirtualizedScrollRectList
  org.mixedrealitytoolkit.uxcore/Experimental/List/VirtualizedScrollRectList.cs
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

Update org.mixedrealitytoolkit.uxcore/Experimental/List/VirtualizedScrollRectList.cs
  org.mixedrealitytoolkit.uxcore/Experimental/List/VirtualizedScrollRectList.cs
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

Allow resetting VirtualizedDynamicScrollRectList (#540) (#541)
  org.mixedrealitytoolkit.uxcore/Experimental/List/VirtualizedScrollRectList.cs
  org.mixedrealitytoolkit.uxcore/Tests/Runtime/Prefabs.meta
  org.mixedrealitytoolkit.uxcore/Tests/Runtime/Prefabs/ScrollTestItem.prefab
  org.mixedrealitytoolkit.uxcore/Tests/Runtime/Prefabs/ScrollTestItem.prefab.meta
  org.mixedrealitytoolkit.uxcore/Tests/Runtime/Prefabs/VirtualizedScrollRectListTest.prefab
  org.mixedrealitytoolkit.uxcore/Tests/Runtime/Prefabs/VirtualizedScrollRectListTest.prefab.meta
  org.mixedrealitytoolkit.uxcore/Tests/Runtime/VirtualizedScrollRectListTests.cs
  org.mixedrealitytoolkit.uxcore/Tests/Runtime/VirtualizedScrollRectListTests.cs.meta
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

Fix unessessary allocation (#570)
  org.mixedrealitytoolkit.spatialmanipulation/BoundsControl/BoundsHandleInteractable.cs
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

Update MRTKDevTemplate packages-lock.json for 3.1.0
  UnityProjects/MRTKDevTemplate/Packages/packages-lock.json
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

Update MRTKDevTemplate packages-lock.json for 3.1.0 (#575)
  UnityProjects/MRTKDevTemplate/Packages/packages-lock.json
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

Disable the StateVisualizer when in sleep mode
  org.mixedrealitytoolkit.uxcore/StateVisualizer/StateVisualizer.cs
  org.mixedrealitytoolkit.uxcore/Tests/Runtime/StateVisualizerTests.cs
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

Fix unessessary allocation (#570) (#571)
  org.mixedrealitytoolkit.spatialmanipulation/BoundsControl/BoundsHandleInteractable.cs
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

Alternative fix
  org.mixedrealitytoolkit.spatialmanipulation/BoundsControl/BoundsHandleInteractable.cs
  org.mixedrealitytoolkit.spatialmanipulation/BoundsControl/Visuals/SqueezableBoxVisuals.cs
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

rm var
  org.mixedrealitytoolkit.spatialmanipulation/BoundsControl/BoundsHandleInteractable.cs
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

Update alternative fixed
  org.mixedrealitytoolkit.spatialmanipulation/BoundsControl/BoundsHandleInteractable.cs
  org.mixedrealitytoolkit.spatialmanipulation/BoundsControl/Visuals/SqueezableBoxVisuals.cs
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

nit rm space
  org.mixedrealitytoolkit.spatialmanipulation/BoundsControl/BoundsHandleInteractable.cs
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

initialize values to 0
  org.mixedrealitytoolkit.spatialmanipulation/BoundsControl/Visuals/SqueezableBoxVisuals.cs
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

typo
  org.mixedrealitytoolkit.spatialmanipulation/BoundsControl/BoundsHandleInteractable.cs
  org.mixedrealitytoolkit.spatialmanipulation/BoundsControl/Visuals/SqueezableBoxVisuals.cs
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

Fix Bugs with Bounding Box Initialized at Runtime (#558)
  org.mixedrealitytoolkit.spatialmanipulation/BoundsControl/BoundsHandleInteractable.cs
  org.mixedrealitytoolkit.spatialmanipulation/BoundsControl/Visuals/SqueezableBoxVisuals.cs
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

documentation addition from old microsoft repository
  README.md
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers

Bounds handle changes
  UnityProjects/MRTKDevTemplate/Assets/Prefabs/BoundsControl/ScaledBoundingBoxWithTraditionalHandles.prefab
  UnityProjects/MRTKDevTemplate/Assets/Prefabs/BoundsControl/ScaledBoundingBoxWithTraditionalHandles.prefab.meta
  UnityProjects/MRTKDevTemplate/Assets/Scenes/BoundsControlRuntimeExample.unity
  UnityProjects/MRTKDevTemplate/Assets/Scripts/BoundsControlRuntimeExample.cs
  org.mixedrealitytoolkit.spatialmanipulation/BoundsControl/BoundsHandleInteractable.cs
  org.mixedrealitytoolkit.spatialmanipulation/BoundsControl/Prefabs/BoundingBoxWithHandles.prefab
  org.mixedrealitytoolkit.spatialmanipulation/BoundsControl/Prefabs/BoundingBoxWithTraditionalHandles.prefab
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

Update var name
  org.mixedrealitytoolkit.spatialmanipulation/BoundsControl/BoundsHandleInteractable.cs
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

Allow Variable Bounding Box Handle Sizes (#598)
  UnityProjects/MRTKDevTemplate/Assets/Prefabs/BoundsControl/ScaledBoundingBoxWithTraditionalHandles.prefab
  UnityProjects/MRTKDevTemplate/Assets/Prefabs/BoundsControl/ScaledBoundingBoxWithTraditionalHandles.prefab.meta
  UnityProjects/MRTKDevTemplate/Assets/Scenes/BoundsControlRuntimeExample.unity
  UnityProjects/MRTKDevTemplate/Assets/Scripts/BoundsControlRuntimeExample.cs
  org.mixedrealitytoolkit.spatialmanipulation/BoundsControl/BoundsHandleInteractable.cs
  org.mixedrealitytoolkit.spatialmanipulation/BoundsControl/Prefabs/BoundingBoxWithHandles.prefab
  org.mixedrealitytoolkit.spatialmanipulation/BoundsControl/Prefabs/BoundingBoxWithTraditionalHandles.prefab
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

Remove "Microsoft" from AssemblyInfo files
  Tooling/create-assemblyinfo.ps1
  org.mixedrealitytoolkit.accessibility/AssemblyInfo.cs
  org.mixedrealitytoolkit.accessibility/Editor/AssemblyInfo.cs
  org.mixedrealitytoolkit.accessibility/Tests/Runtime/AssemblyInfo.cs
  org.mixedrealitytoolkit.audio/AssemblyInfo.cs
  org.mixedrealitytoolkit.core/AssemblyInfo.cs
  org.mixedrealitytoolkit.core/Editor/AssemblyInfo.cs
  org.mixedrealitytoolkit.core/Tests/Editor/AssemblyInfo.cs
  org.mixedrealitytoolkit.core/Tests/Runtime/AssemblyInfo.cs
  org.mixedrealitytoolkit.core/Tests/TestUtilities/AssemblyInfo.cs
  org.mixedrealitytoolkit.data/AssemblyInfo.cs
  org.mixedrealitytoolkit.data/Editor/AssemblyInfo.cs
  org.mixedrealitytoolkit.diagnostics/AssemblyInfo.cs
  org.mixedrealitytoolkit.diagnostics/Tests/Editor/AssemblyInfo.cs
  org.mixedrealitytoolkit.diagnostics/Tests/Runtime/AssemblyInfo.cs
  org.mixedrealitytoolkit.diagnostics/Visualizers/AssemblyInfo.cs
  org.mixedrealitytoolkit.input/AssemblyInfo.cs
  org.mixedrealitytoolkit.input/Editor/AssemblyInfo.cs
  org.mixedrealitytoolkit.input/Tests/Editor/AssemblyInfo.cs
  org.mixedrealitytoolkit.input/Tests/Runtime/AssemblyInfo.cs
  org.mixedrealitytoolkit.spatialmanipulation/AssemblyInfo.cs
  org.mixedrealitytoolkit.spatialmanipulation/Editor/AssemblyInfo.cs
  org.mixedrealitytoolkit.spatialmanipulation/Tests/Runtime/AssemblyInfo.cs
  org.mixedrealitytoolkit.tools/AssemblyInfo.cs
  org.mixedrealitytoolkit.uxcomponents.noncanvas/AssemblyInfo.cs
  org.mixedrealitytoolkit.uxcomponents.noncanvas/Tests/Runtime/AssemblyInfo.cs
  org.mixedrealitytoolkit.uxcomponents/AssemblyInfo.cs
  org.mixedrealitytoolkit.uxcomponents/Editor/AssemblyInfo.cs
  org.mixedrealitytoolkit.uxcomponents/Tests/Runtime/AssemblyInfo.cs
  org.mixedrealitytoolkit.uxcore/AssemblyInfo.cs
  org.mixedrealitytoolkit.uxcore/Editor/AssemblyInfo.cs
  org.mixedrealitytoolkit.uxcore/Tests/Editor/AssemblyInfo.cs
  org.mixedrealitytoolkit.uxcore/Tests/Runtime/AssemblyInfo.cs
  org.mixedrealitytoolkit.windowsspeech/AssemblyInfo.cs
  org.mixedrealitytoolkit.windowsspeech/Editor/AssemblyInfo.cs
Owners: @shaynie, @amollis, @keveleigh, @david-c-kline, @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis

Fix package numbers on packages that have already been updated
  org.mixedrealitytoolkit.extendedassets/package.json
  org.mixedrealitytoolkit.input/package.json
  org.mixedrealitytoolkit.spatialmanipulation/package.json
  org.mixedrealitytoolkit.uxcomponents.noncanvas/package.json
  org.mixedrealitytoolkit.uxcomponents/package.json
  org.mixedrealitytoolkit.uxcore/package.json
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

Updating maintainer rules, so that a maintainer's affiliated organization doesn't need to be part of the steering committee.
  GOVERNANCE.md
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers
