Repository MixedRealityToolkit/MixedRealityToolkit-Unity, changes with the owners that CODEOWNERS names for each.
All owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @shaynie, @amollis, @keveleigh, @david-c-kline, @marlenaklein-msft, @AMollis

CODEOWNERS:

# This file contains information about the code owners for various
# files in the MRTK codebase.
#
# For more information on CODEOWNERS, see:
# https://help.github.com/en/articles/about-code-owners
#
# For syntax, see:
# https://help.github.com/en/articles/about-code-owners#codeowners-syntax
#
# The intent of this file is to list, on a per-file/per-area basis:
# 1) Who is the most familiar with an area of code.
# OR
# 2) Who can take a first pass at pull request review, or delegate the review
# to someone else who may be more appropriate.
#
# Note that order in this file is EXTREMELY important - the last matching
# rule will win. This means that the most general rules should be listed
# first in this file, followed by more specific rules.
# 
# Maintainers can add to CODEOWNERS by following the CONTRIBUTING.md rules.

# Default Owners (Must include Maintainers)
* @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers

# Build / CI Pipeline
/Pipelines/ @shaynie @amollis @keveleigh

# Tooling
/Tooling/ @shaynie @amollis @keveleigh @david-c-kline

# Feature packages
/org.mixedrealitytoolkit.accessibility/ @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers @marlenaklein-msft @AMollis @shaynie
/org.mixedrealitytoolkit.audio/ @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers @marlenaklein-msft @AMollis @shaynie
/org.mixedrealitytoolkit.core/ @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers @marlenaklein-msft @AMollis @shaynie
/org.mixedrealitytoolkit.data/ @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers @marlenaklein-msft @AMollis @shaynie
/org.mixedrealitytoolkit.diagnostics/ @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers @marlenaklein-msft @AMollis @shaynie
/org.mixedrealitytoolkit.input/ @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers @marlenaklein-msft @AMollis @shaynie
/org.mixedrealitytoolkit.spatialmanipulation/ @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers @marlenaklein-msft @AMollis @shaynie
/org.mixedrealitytoolkit.tools/ @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers @marlenaklein-msft @AMollis @shaynie
/org.mixedrealitytoolkit.uxcomponents/ @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers @marlenaklein-msft @AMollis @shaynie
/org.mixedrealitytoolkit.uxcore/ @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers @marlenaklein-msft @AMollis @shaynie
/org.mixedrealitytoolkit.windowsspeech/ @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers @marlenaklein-msft @AMollis @shaynie

# Examples and templates
/UnityProjects/ @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers @marlenaklein-msft @AMollis @shaynie

# Goverance documents (Must include Maintainers)
CODEOWNERS @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers
CONTRIBUTING.md @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers
MAINTAINERS.md @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers
GOVERNANCE.md @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers

Remove /n
  org.mixedrealitytoolkit.accessibility/Tests/Editor/PackageValidationTest.cs
  org.mixedrealitytoolkit.audio/Tests/Editor/PackageValidationTest.cs
  org.mixedrealitytoolkit.core/Tests/Editor/PackageValidationTest.cs
  org.mixedrealitytoolkit.data/Tests/Editor/PackageValidationTest.cs
  org.mixedrealitytoolkit.diagnostics/Tests/Editor/PackageValidationTest.cs
  org.mixedrealitytoolkit.extendedassets/Tests/Editor/PackageValidationTest.cs
  org.mixedrealitytoolkit.input/Tests/Editor/PackageValidationTest.cs
  org.mixedrealitytoolkit.spatialmanipulation/Tests/Editor/PackageValidationTest.cs
  org.mixedrealitytoolkit.standardassets/Tests/Editor/PackageValidationTest.cs
  org.mixedrealitytoolkit.tools/Tests/Editor/PackageValidationTest.cs
  org.mixedrealitytoolkit.uxcomponents.noncanvas/Tests/Editor/PackageValidationTest.cs
  org.mixedrealitytoolkit.uxcomponents/Tests/Editor/PackageValidationTest.cs
  org.mixedrealitytoolkit.uxcore/Tests/Editor/PackageValidationTest.cs
  org.mixedrealitytoolkit.windowsspeech/Tests/Editor/PackageValidationTest.cs
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

We have to use Unix newlines when parsing the log file
  org.mixedrealitytoolkit.core/Tests/TestUtilities/PackageValidatorResults.cs
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

Changing to CONST
  org.mixedrealitytoolkit.core/Tests/TestUtilities/PackageValidatorResults.cs
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

Adding Editor's MenuItem to add a SimpleButton to scene
  org.mixedrealitytoolkit.uxcomponents/Editor/CreateElementMenus.cs
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

Adding CanvasExampleSimpleButton scene + corresponding prefabs
  UnityProjects/MRTKDevTemplate/Assets/Prefabs/CanvasExampleSimpleButton.meta
  UnityProjects/MRTKDevTemplate/Assets/Prefabs/CanvasExampleSimpleButton/MenuExampleSimpleButton.prefab
  UnityProjects/MRTKDevTemplate/Assets/Prefabs/CanvasExampleSimpleButton/MenuExampleSimpleButton.prefab.meta
  UnityProjects/MRTKDevTemplate/Assets/Prefabs/CanvasExampleSimpleButton/TopNavigationExampleSimpleButton.prefab
  UnityProjects/MRTKDevTemplate/Assets/Prefabs/CanvasExampleSimpleButton/TopNavigationExampleSimpleButton.prefab.meta
  UnityProjects/MRTKDevTemplate/Assets/Prefabs/CanvasExampleSimpleButton/UIPanelExampleSimpleButton.prefab
  UnityProjects/MRTKDevTemplate/Assets/Prefabs/CanvasExampleSimpleButton/UIPanelExampleSimpleButton.prefab.meta
  UnityProjects/MRTKDevTemplate/Assets/Scenes/CanvasExampleSimpleButton.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/CanvasExampleSimpleButton.unity.meta
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

Renaming SimpleButton outline material to SimpleButtonOutline
  org.mixedrealitytoolkit.standardassets/Materials/CompressedButtonMaterial/SimpleButtonOutline.mat
  org.mixedrealitytoolkit.standardassets/Materials/CompressedButtonMaterial/SimpleButtonOutline.mat.meta
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers

Renaming SimplifiedButtonCanvasGlow material to SimpleButtonCanvasGlow
  org.mixedrealitytoolkit.standardassets/Materials/CompressedButtonMaterial/SimpleButtonCanvasGlow.mat
  org.mixedrealitytoolkit.standardassets/Materials/CompressedButtonMaterial/SimpleButtonCanvasGlow.mat.meta
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers

Whoops the fallback controllers were backwards
  org.mixedrealitytoolkit.input/Visualizers/ControllerVisualizer/Models/generic-trigger-squeeze-touchpad-thumbstick/LeftControllerModel.prefab
  org.mixedrealitytoolkit.input/Visualizers/ControllerVisualizer/Models/generic-trigger-squeeze-touchpad-thumbstick/RightControllerModel.prefab
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

Splitting out version updating
  Pipelines/Scripts/pack-upm.ps1
  Pipelines/Scripts/repackage-for-release.ps1
  Pipelines/Scripts/update-versions.ps1
  Pipelines/Templates/upm.yaml
  Pipelines/ci.yaml
  Pipelines/rc.yaml
Owners: @shaynie, @amollis, @keveleigh

Fixing version scripts
  Pipelines/Scripts/pack-upm.ps1
  Pipelines/Scripts/repackage-for-release.ps1
  Pipelines/Scripts/update-versions.ps1
Owners: @shaynie, @amollis, @keveleigh

Fixing bugs
  Pipelines/Scripts/pack-upm.ps1
  Pipelines/Scripts/repackage-for-release.ps1
  Pipelines/Scripts/update-versions.ps1
Owners: @shaynie, @amollis, @keveleigh

Update package versions for doc build
  Pipelines/Templates/docs.yaml
Owners: @shaynie, @amollis, @keveleigh

Fixing docs build
  Pipelines/Templates/docs.yaml
Owners: @shaynie, @amollis, @keveleigh

Updating version
  Pipelines/Scripts/update-versions.ps1
Owners: @shaynie, @amollis, @keveleigh

Fixing revision number
  Pipelines/Templates/docs.yaml
  Pipelines/Templates/upm.yaml
Owners: @shaynie, @amollis, @keveleigh

FIxing docs
  Pipelines/Templates/docs.yaml
Owners: @shaynie, @amollis, @keveleigh

Removing unnecessary isHovered property
  org.mixedrealitytoolkit.uxcomponents.noncanvas/Tests/Runtime/PressableButtonTests.cs
  org.mixedrealitytoolkit.uxcore/Button/PressableButton.cs
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

Fix the fallback controllers being backwards (#636)
  org.mixedrealitytoolkit.input/Visualizers/ControllerVisualizer/Models/generic-trigger-squeeze-touchpad-thumbstick/LeftControllerModel.prefab
  org.mixedrealitytoolkit.input/Visualizers/ControllerVisualizer/Models/generic-trigger-squeeze-touchpad-thumbstick/RightControllerModel.prefab
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

Fix the fallback controllers being backwards (#636)
  org.mixedrealitytoolkit.input/Visualizers/ControllerVisualizer/Models/generic-trigger-squeeze-touchpad-thumbstick/LeftControllerModel.prefab
  org.mixedrealitytoolkit.input/Visualizers/ControllerVisualizer/Models/generic-trigger-squeeze-touchpad-thumbstick/RightControllerModel.prefab
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

Renaming INearInteractionModeTarget to IXRProximityInteractable
  org.mixedrealitytoolkit.input/InteractionModes/IXRProximityInteractable.cs
  org.mixedrealitytoolkit.input/InteractionModes/IXRProximityInteractable.cs.meta
  org.mixedrealitytoolkit.input/InteractionModes/NearInteractionModeDetector.cs
  org.mixedrealitytoolkit.uxcore/Button/PressableButton.cs
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

Updating TestTwoHandsEnableAndDisableDynamicComponentsCorrectly UnityTest to latest changes
  org.mixedrealitytoolkit.uxcomponents.noncanvas/Tests/Runtime/PressableButtonTests.cs
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers

Removing ProximityHoveringDynamicComponents
  org.mixedrealitytoolkit.uxcomponents.noncanvas/Tests/Runtime/PressableButtonTests.cs
  org.mixedrealitytoolkit.uxcore/Button/PressableButton.cs
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

Addressing PR comment
  Pipelines/Scripts/pack-upm.ps1
  Pipelines/Scripts/repackage-for-release.ps1
  Pipelines/Scripts/update-versions.ps1
Owners: @shaynie, @amollis, @keveleigh

Adding XRProximityHoverEvents, removing no longer needed methods/properties
  UnityProjects/MRTKDevTemplate/Assets/Scenes/CanvasExampleWithDynamicComponents.unity
  org.mixedrealitytoolkit.input/InteractionModes/XRProximityHoverEvents.cs
  org.mixedrealitytoolkit.input/InteractionModes/XRProximityHoverEvents.cs.meta
  org.mixedrealitytoolkit.uxcore/Button/PressableButton.cs
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

Removing CanvasExampleWithDynamicComponents scene as its approach no longer applies
  UnityProjects/MRTKDevTemplate/Assets/Scenes/CanvasExampleWithDynamicComponents.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/CanvasExampleWithDynamicComponents.unity.meta
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

Updating Documentation Binaries for Correct Minor Versions (#638)
  Pipelines/Scripts/pack-upm.ps1
  Pipelines/Scripts/repackage-for-release.ps1
  Pipelines/Scripts/update-versions.ps1
  Pipelines/Templates/docs.yaml
  Pipelines/Templates/upm.yaml
  Pipelines/ci.yaml
  Pipelines/rc.yaml
Owners: @shaynie, @amollis, @keveleigh

Adding TestButtonGameObjectHasFirstProximityHoverEnteredEvent UnityTest
  org.mixedrealitytoolkit.uxcomponents.noncanvas/Tests/Runtime/PressableButtonTests.cs
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers

Adding TestButtonGameObjectHasLastProximityHoverEnteredEvent UnityTest
  org.mixedrealitytoolkit.uxcomponents.noncanvas/Tests/Runtime/PressableButtonTests.cs
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers

Manually update versions in AssemblyInfo files for the release branch. This is a manual fix for generating the docs.
  org.mixedrealitytoolkit.accessibility/AssemblyInfo.cs
  org.mixedrealitytoolkit.audio/AssemblyInfo.cs
  org.mixedrealitytoolkit.core/AssemblyInfo.cs
  org.mixedrealitytoolkit.data/AssemblyInfo.cs
  org.mixedrealitytoolkit.diagnostics/AssemblyInfo.cs
  org.mixedrealitytoolkit.input/AssemblyInfo.cs
  org.mixedrealitytoolkit.spatialmanipulation/AssemblyInfo.cs
  org.mixedrealitytoolkit.tools/AssemblyInfo.cs
  org.mixedrealitytoolkit.uxcomponents.noncanvas/AssemblyInfo.cs
  org.mixedrealitytoolkit.uxcomponents/AssemblyInfo.cs
  org.mixedrealitytoolkit.uxcore/AssemblyInfo.cs
  org.mixedrealitytoolkit.windowsspeech/AssemblyInfo.cs
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

Adding undo operations
  org.mixedrealitytoolkit.uxcomponents/Editor/CreateElementMenus.cs
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

Adding safer way to get SimpleButton's Content child
  org.mixedrealitytoolkit.uxcomponents/Editor/CreateElementMenus.cs
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

Manually update versions in AssemblyInfo files for the release branch (#639)
  org.mixedrealitytoolkit.accessibility/AssemblyInfo.cs
  org.mixedrealitytoolkit.audio/AssemblyInfo.cs
  org.mixedrealitytoolkit.core/AssemblyInfo.cs
  org.mixedrealitytoolkit.data/AssemblyInfo.cs
  org.mixedrealitytoolkit.diagnostics/AssemblyInfo.cs
  org.mixedrealitytoolkit.input/AssemblyInfo.cs
  org.mixedrealitytoolkit.spatialmanipulation/AssemblyInfo.cs
  org.mixedrealitytoolkit.tools/AssemblyInfo.cs
  org.mixedrealitytoolkit.uxcomponents.noncanvas/AssemblyInfo.cs
  org.mixedrealitytoolkit.uxcomponents/AssemblyInfo.cs
  org.mixedrealitytoolkit.uxcore/AssemblyInfo.cs
  org.mixedrealitytoolkit.windowsspeech/AssemblyInfo.cs
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

Restoring ActionButton prefab to its original
  org.mixedrealitytoolkit.uxcomponents/Button/Prefabs/Action Button.prefab
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

Updating floating menu label
  org.mixedrealitytoolkit.uxcomponents/Editor/CreateElementMenus.cs
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

Moving files under a 'Experimental' folder
  UnityProjects/MRTKDevTemplate/Assets/Prefabs/Experimental.meta
  UnityProjects/MRTKDevTemplate/Assets/Prefabs/Experimental/CanvasExampleSimpleButton.meta
  UnityProjects/MRTKDevTemplate/Assets/Prefabs/Experimental/CanvasExampleSimpleButton/MenuExampleSimpleButton.prefab
  UnityProjects/MRTKDevTemplate/Assets/Prefabs/Experimental/CanvasExampleSimpleButton/MenuExampleSimpleButton.prefab.meta
  UnityProjects/MRTKDevTemplate/Assets/Prefabs/Experimental/CanvasExampleSimpleButton/TopNavigationExampleSimpleButton.prefab
  UnityProjects/MRTKDevTemplate/Assets/Prefabs/Experimental/CanvasExampleSimpleButton/TopNavigationExampleSimpleButton.prefab.meta
  UnityProjects/MRTKDevTemplate/Assets/Prefabs/Experimental/CanvasExampleSimpleButton/UIPanelExampleSimpleButton.prefab
  UnityProjects/MRTKDevTemplate/Assets/Prefabs/Experimental/CanvasExampleSimpleButton/UIPanelExampleSimpleButton.prefab.meta
  UnityProjects/MRTKDevTemplate/Assets/Scenes/Experimental/CanvasExampleSimpleButton.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/Experimental/CanvasExampleSimpleButton.unity.meta
  org.mixedrealitytoolkit.standardassets/Materials/CompressedButtonMaterial/Experimental.meta
  org.mixedrealitytoolkit.standardassets/Materials/CompressedButtonMaterial/Experimental/SimpleButtonCanvasGlow.mat
  org.mixedrealitytoolkit.standardassets/Materials/CompressedButtonMaterial/Experimental/SimpleButtonCanvasGlow.mat.meta
  org.mixedrealitytoolkit.standardassets/Materials/CompressedButtonMaterial/Experimental/SimpleButtonOutline.mat
  org.mixedrealitytoolkit.standardassets/Materials/CompressedButtonMaterial/Experimental/SimpleButtonOutline.mat.meta
  org.mixedrealitytoolkit.uxcomponents/Button/Prefabs/Experimental.meta
  org.mixedrealitytoolkit.uxcomponents/Button/Prefabs/Experimental/SimpleButton.prefab
  org.mixedrealitytoolkit.uxcomponents/Button/Prefabs/Experimental/SimpleButton.prefab.meta
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

Removing Font size adjustment during SimpleButton creation and making all SimpleButton fonts the same size as ActionButton
  UnityProjects/MRTKDevTemplate/Assets/Scenes/Experimental/CanvasExampleSimpleButton.unity
  org.mixedrealitytoolkit.uxcomponents/Editor/CreateElementMenus.cs
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

Updating referenced package versions
  UnityProjects/MRTKDevTemplate/Packages/packages-lock.json
  org.mixedrealitytoolkit.extendedassets/package.json
  org.mixedrealitytoolkit.uxcomponents.noncanvas/package.json
  org.mixedrealitytoolkit.uxcomponents/package.json
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

Updating package version, referenced package versions, and CHANGELOG.md
  UnityProjects/MRTKDevTemplate/Packages/packages-lock.json
  org.mixedrealitytoolkit.extendedassets/package.json
  org.mixedrealitytoolkit.standardassets/CHANGELOG.md
  org.mixedrealitytoolkit.standardassets/package.json
  org.mixedrealitytoolkit.uxcomponents.noncanvas/package.json
  org.mixedrealitytoolkit.uxcomponents/package.json
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

Making Proximity-Hover events appear in Editor's Inspector under 'MRTK Events'>'Proximity-Hover Events'
  org.mixedrealitytoolkit.core/Editor/Editors/BaseInteractableEditor.cs
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie

Switching to TimedFlag for IsProximityHovered property, updating inspector editor, and updating UnityTests.
  org.mixedrealitytoolkit.core/Editor/Editors/BaseInteractableEditor.cs
  org.mixedrealitytoolkit.core/Editor/Editors/StatefulInteractableEditor.cs
  org.mixedrealitytoolkit.core/Interactables/StatefulInteractable.cs
  org.mixedrealitytoolkit.input/InteractionModes/IXRProximityInteractable.cs
  org.mixedrealitytoolkit.input/InteractionModes/XRProximityHoverEvents.cs
  org.mixedrealitytoolkit.input/InteractionModes/XRProximityHoverEvents.cs.meta
  org.mixedrealitytoolkit.uxcomponents.noncanvas/Tests/Runtime/PressableButtonTests.cs
  org.mixedrealitytoolkit.uxcore/Button/PressableButton.cs
Owners: @MixedRealityToolkit/mixedrealitytoolkit-unity-maintainers, @marlenaklein-msft, @AMollis, @shaynie
